#widget {
  font-family: 'Roboto', sans-serif;
}

#mode-picker {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 40px;
}

#mode-select-line-mobile, #mode-select-line-desktop {
  position: absolute;
  height: 3px;
  width: 120px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#mode-select-line-desktop {
  width: 0;
  height: 0;
}


.button-column {
	flex: 1;
  flex-direction: column;
  margin: 0;
}

.button-column button {
	aspect-ratio : 1 / 1;
  flex-grow: 1;
  width: 100%;
	background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 4px;
  padding: 0;
}

.buttons {
	display: flex;
	width: 100%;
	max-width: 600px;
}

.color-buttons {
  width: 30px;
  height: 30px;
  margin: 0 1.1vw;
}

#color-picker {
  width: 30px;
  height: 30px;
}

#eraser-save-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


#trash {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

#eraser {
  display: block;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

#save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  font-weight: 600;
  font-size: 70%;
  background-color: #4cff5b;
  color: #121D24;

}

#save-icon {
  width: 15%;
  height: 15%;
  margin-left: 10%;
}

#start-stop-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

#start-stop-icon {
  width: 15px;
  height: 15px;
}

#start-stop-button div {
  background-color: red;
  border-radius: 5px;
  width: 15px;
  height: 15px;
}


#add-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#add-section div {
  background-color: #2d6f91;
  color: white;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  margin-left: 5px;
}

#add-button {
  background-color: #4cff5b;
  padding: 5px 10px;
}

#matrix-color-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#matrix-widget {
  margin-top: 20px;
}


@media screen and (min-aspect-ratio: 3/2) { /* Desktop mode switch*/
  #matrix-color-section {
    flex-direction: row;
  }
  #matrix-widget {
    order: 0;
  }
  #preset-color-picker {
    order: 1;
    margin-left: 20px;
  }
  .color-buttons {
    display: block;
    margin: 3vh 0;
  }
  #eraser-save-column {
    margin: 0px 32vw;
  }
  #trash {
    margin-left: 32vw;
  }
  #mode-picker {
    margin: 0 40%;
  }
  #mode-select-line-mobile {
    width: 0;
    height: 0;
  }
  #mode-select-line-desktop {
    height: 3px;
    width: 120px;
  }
}


#credit {
  position: relative;
  bottom: 0;
  font-size: 10px;
  color: rgb(0, 0, 126);
}

#color-picker-container {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.308);
}

#save-form {
  position: absolute;
  z-index: 10;
  display: flex;
  background-color: #00ccff7a;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

#checkmark {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='lightgreen' d='M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z'/%3E%3Cpath fill='lightgreen' d='M16.293 8.293 11 13.586l-2.293-2.293-1.414 1.414L11 16.414l6.707-6.707-1.414-1.414z'/%3E%3C/svg%3E");
}

#error-pupup {
  z-index: 20;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  background-color: rgb(153, 0, 0);
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
}