#widget {
  position: relative;
}

.palette {
  width: 15vw;
  height: 10vw;
  margin-right: 10px;
  border: 1px solid black;
}

#paletteSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 5px;
}

.line {
  width: 100px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.644);
  margin-bottom: 20px;
}

#palettes {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

#color-picker-container {
  width: max-content;
  margin: auto;
  margin-top: 25px;
}

#settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff5d;
  font-size: 3.5vw;
  font-weight: lighter;
  transform: translateY(-10px);
}

.stacked p {
  text-decoration: underline;
  margin: 5px;
}

#background-choices {
  color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.082);
  max-width: 30vw;
  height: 8vw;
  user-select: none;
}

.background-choice {
  display: inline-block;
  font-size: 4.8vw;
  margin: 0 10px;
  background-color: rgba(95, 158, 160, 0.548);
  border-radius: 5px;
  padding: 3px 5px;
}

.amount {
  font-size: 3.5vw;
  width: 10vw;
  margin-top: 5px;
  margin-bottom: 10px;
}

#settings button {
  padding: 5px;
  font-size: 3.5vw;
}

#start-button {
  background-color: #00FF47;
}

#chosen-colors {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.082);
  justify-content: space-around;
  padding-top: 8%;
}

.chosen-color {
  width: 15vw;
  height: 12vw;
  border-radius: 5px;
  margin: 5% 5%;
}

#chosen-colors h2 {
  position: absolute;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 5vw;
  font-weight: normal;
  transform: translateY(-180%);
  text-decoration: underline;
}