#widget {
  margin: 30px 0 40px 0;
}
#button-icon {
  width: 23px;
  height: 23px;
}

#back-button {
  background-color: transparent;
  margin-right: 20px;
}

#title {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#slider {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
}